@import url("https://fonts.googleapis.com/css?family=Galada");

a {
	color: #B19CD9;
	text-decoration: none;
}

.table {
	width: 100%;
	margin-bottom: 20px;
}

#top-hero {
	background-image: url('../images/bg-header.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	width: 100%;
	overflow: hidden;
	padding-bottom: 20%;
	color: white;
}

.overflow {
	overflow-x: hidden;
}



/* WHO AM I */
#who-am-i {
	color: black;
}

.sand {
	background-image: url('../images/sand.jpg');
}

.floating {
	background-color: #00053f;
	opacity: 0.6;
	margin-left: 25%;
	margin-right: 25%;
	padding: 5px;
	width: 50%;
	color: white;
	font-size: 1.5em;
}

.floating .p {
}


/* HERO */
#top-hero .hero-title {
	margin-top: 20%;
	letter-spacing: 0.3em;
	position: relative;
}


.projects h1 {
	text-shadow: 2px 2px #ccc;
}


/* BACKGROUND COLORS */
.main-bg {
	background-color: #AEC6CF;
	color: #0e171c;
}

.dark {
	background-color: #d3d3c2;
}

/* CONTACT */
.contact-title {
	background-color: #f9fbfc;
	text-align: center;
	width: 98;
	margin: 0 auto;
	height: 200px;
	padding: 20px;
	position: relative;
	z-index: 11;
	-webkit-transition: 0.5s all;
        	transition: 0.5s all;
}

@media(max-width: 1200px) {
	.contact-title {
		margin-bottom: 20px;
	}
}

.contact-title:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	-webkit-transition: all 0.5s;
			transition: all 0.5s;
	background-color: rgba(14, 23, 28, 0);
}

.contact-title:hover {
	margin-top: -10px;
	-webkit-transition: all 0.5s;
			transition: all 0.5s;
}

.contact-title:hover:after {
  width: 90%;
  left: 5%;
  bottom: -10px;
  height: 10px;
  background-color: rgba(14, 23, 28, 0.3);
}

.row:before {
	box-sizing: border-box;
}

.container:before {
	box-sizing: border-box;
}

/* HR */
hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


/* Text Colors */
.altTextColor {
	color: #222222;
}

.xlarge {
	font-size: 4em;
	text-shadow: 2px 2px black;
}

.container div:before {
	box-sizing: border-box;
}

/* PADDING */
.padding-sm {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-md {
	padding-top: 45px;
	padding-bottom: 45px;
}
.padding-lg {
	padding-top: 90px;
	padding-bottom: 90px;
}

.bottomPadding {
	height: 12.5%;
}



/* Footer Styling */
.extra-dark {
	background-color: #00053f
}

.footer {
	padding-bottom: 30px;
}



/* Image Styling */
.imageFrame {
	border: 10px solid #3e2b14;
	padding: 10px;
}

.summerMobile {
	background-image: url('../images/summerMobile.png');
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	width: 100%;
	overflow: hidden;
}

.appointmentScheduler {
	background-image: url('../images/appointmentScheduler.png');
	background-size: contain;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	width: 100%;
	overflow: hidden;
}

.exampleHome {
	background-image: url('../images/home.png');
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	width: 100%;
	overflow: hidden;
}