@import url("https://fonts.googleapis.com/css?family=Galada");

.hero {
	background-image: url('../images/bg-header.jpg');
	background-position: center;
	background-attachment: scroll;
	/*background-repeat: no-repeat;*/
	padding-top: 22.5%;
	padding-bottom: 22.5%;
	color: white;
}

/* The following code only removes the scrollbar and forces a fixed 100% width on desktop
this solution does not address the element being out of bounds, and will still not function as intended on mobile devices */
.overflow {
	overflow-x: hidden;
}

.hero h1 {
	text-shadow: 2px 2px black;
}


.bottomPadding {
	height: 12.5%;
}

.projects h1 {
	text-shadow: 2px 2px #ccc;
}


.dark {
	background-color: #646464;
	/*height: 12.5%;*/
}


/* HR */
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


/* Text Colors */
.whiteText {
	color: #ffffff;
}
