---
---

@import "{{ site.theme }}";

.img-circle {
    border-radius: 50%;
}


.img-rounded {
    border-radius: 5%;
}

.img-medium {
    width: 160px;
    height: 120px;
}

#main-content {
    text-align: center;
}


#main-content {
	background-image: url('../../img/toms.jpg') !important;
	background-size: contain;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
	color: white !important;
}