---
---

@import "{{ site.theme }}";



#main-content {
    text-align: center;
}

/* Image Styling */
.img-circle {
    border-radius: 50%;
}

.img-rounded {
    border-radius: 5%;
}

.img-medium {
    width: 128px;
    height: 128px;
}

/* Table Styling */
table tr td {
    border: none !important;
}

.table {
    border: none !important;
}

/* */

.title-p {
    font-size: 1.4em;
    font-weight: bold;
}

.subtitle-p {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

.list {
    font-size: 1.1em;
    line-height: 1.4;
}
